*{
margin:0;
padding:0;
}
.jumbotron{
	height:150px !important;
	background-color:blue !important;
	
}
.jumbotron h2{
	margin-left:30px;
	color:white !important;
	display:inline;
}
.navbar-default{
	background-color:transparent;
	border-color:transparent;
}
.navbar-default li a {
	color:white !important;
}
.navbar-default li a:hover{
	color:red !important;
}
